:root {
    --dokka-banner-image-url: url('../images/logo-banner.svg');
    --dokka-banner-height: 32px;
    --dokka-banner-width: 140px;
}

.brand-name--link:before {
    background: var(--dokka-banner-image-url);
    content: "";
    display: block;
    height: var(--dokka-banner-height);
    width: var(--dokka-banner-width);
}

.platform-tags--wrapper {
    display: none !important;
}

#filter-section {
   display: none !important;
}